@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0 scroll-smooth;
  }

  body{
    @apply overflow-hidden;
  }
}

@layer components{
  .flex_center {
    @apply flex items-center justify-center;
  }

  .btn_primary{
    @apply bg-blue-600 text-white hover:bg-blue-500 border-none;
  }
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(216, 215, 215); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: gray; 
}